@page
@model Mission7BookStore.Pages.DonationCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks! Your order will be delivered in 3-5 business days!</h2>
    <a class="btn btn primary" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>